#footer {
  flex: 0 1 84px;
  padding-right: 10vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-top: 3px black solid;
  transition: 0.2s ease;
}
#dark #footer {
  border-top: 3px white solid;
  background-color: #292929;
}
.fborder {
  flex: 0 0 auto;
  width: 3px;
  height: 100%;
  background-color: black;
  transition: 0.2s ease;
}
#dark .fborder {
  background-color: white;
}

#color-mode {
  flex: 0 0 36px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 3px #292929 solid;
  background-color: transparent;
  margin: 15px 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0, 0.2s;
  transition-delay: 0.15s, 0s;
  transition-property: background-color, border;
}
#dark .color-mode {
  border: 3px white solid;
  background-color: #292929;
}

#light .color-mode {
  background-color: white;
}
#mobile-color-mode {
  flex: 0 0 36px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 3px black solid;
  background-color: transparent;
  margin: 15px 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease;
}
#light .dark-themeCover,
#dark .light-themeCover {
  transition: 0.2s ease;
}
#light #dark-rest-filling {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  left: -31px;
  background-color: #292929;
}
#light #dark-hover-filling {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  background-color: #292929;
}
#dark .dark-themeCover {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  background-color: #292929;
}

#dark #light-rest-filling {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  left: -31px;
  background-color: white;
}
#dark #light-hover-filling {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  background-color: white;
}

#light .light-themeCover {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  background-color: white;
}

#mobileMessage {
  margin: auto;
  text-align: center;
}
