#light-profile,
#dark-profile {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}
#light-profile {
  transition: opacity 0.2s ease !important;
  background: linear-gradient(75deg, #e1122d -10%, #fcd581 20%, white 40%);
  opacity: 1;
}
#dark #light-profile {
  opacity: 0;
}
#dark-profile {
  opacity: 0;
  transition: opacity 0.2s ease !important;
  background: linear-gradient(75deg, #58a4b0 -10%, #373f51 20%, #292929 40%);
}
#dark #dark-profile {
  opacity: 1;
}

#profile {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
#profile * {
  transition-duration: 0.2s;
  transition-property: color;
}
#name {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 30%;
  max-height: calc((100vh - 168px) * 0.3);
  font-weight: 500;
}
#name div {
  padding-left: 4vw;
  z-index: 1;
}
#tech {
  display: flex;
  flex-direction: row-reverse;
  height: 70%;
  max-height: calc((100vh - 168px) * 0.7);
  align-items: center;
  padding-right: 3vw;
}
#techWrapper {
  flex: 0 0 auto;
}
#tech div {
  font-weight: 500;
  text-align: right;
  font-weight: 300;
  z-index: 1;
}
#dark #tech,
#dark #name {
  color: white;
}

#dots {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 5vh;
  height: 100%;
  border-right: 3px black solid;
  overflow: hidden;
}
.dotRow {
  display: flex;
  flex-direction: row;
}
