@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Cormorant:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;500;700;900&family=Sora:wght@200;400;600;800&family=Space+Mono:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  user-select: none;
  -webkit-user-select: none;
}
.App {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  background-color: white;
  transition: background-color 0.2s ease;
}
#dark {
  background-color: #292929;
}

.contents {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}
